<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Edición del cliente</h3>
    <form (ngSubmit)="onSubmit()" #empleadoForm="ngForm">
        <div class="form-group">
            <label>Tipo Documento: </label>
            <select type="number" class="form-control" id="tipoDocumento" name="tipoDocumento"
                [(ngModel)]="empleado.idTipodocumento" #tipoDocumento="ngModel">
                <option [ngValue]="documento" *ngFor="let documento of documentos">{{documento.descripcion}}</option>
            </select>
        </div>
        <br />
        <div class="form-group">
            <label>Numero Documento: </label>
            <input type="number" class="form-control" id="numerodocumento" [(ngModel)]="empleado.numerodocumento"
                name="numerodocumento" required placeholder="Digite su numerodocumento" #numerodocumento="ngModel" />
        </div>
        <br />
        <div class="form-group">
            <label>Razon Social: </label>
            <input type="text" class="form-control" id="razonsocial" [(ngModel)]="empleado.razonsocial"
                name="razonsocial" placeholder="Digite su razonsocial" #razonsocial="ngModel" />
        </div>
        <br />
        <div class="form-group">
            <label>Nombre: </label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="empleado.nombre" name="nombre"
                placeholder="Digite su nombre" #nombre="ngModel" />
        </div>
        <br />
        <div class="form-group">
            <label>Apellido: </label>
            <input type="text" class="form-control" id="apellido" [(ngModel)]="empleado.apellido" name="apellido"
                placeholder="Digite su apellido" #apellido="ngModel" />
        </div>
        <br />
        <div class="form-group">
            <label>Fecha Nacimiento: </label>
            <input type="date" class="form-control" id="fechanacimiento" [(ngModel)]="empleado.fechanacimiento"
                name="fechanacimiento" #fechanacimiento="ngModel" />
        </div>
        <br />
        <div class="form-group">
            <label>Genero: </label>
            <input type="text" class="form-control" id="genero" [(ngModel)]="empleado.genero" name="genero"
                #genero="ngModel" />
        </div>
        <br />

        <button class="btn btn-success" [disabled]="!empleadoForm.form.valid">Guardar</button>
    </form>
    <br>
</div>