<h3>Detalles del cliente</h3>
<div>
    <div>
        <label><b>ID: </b> {{empleado.id}}</label>
    </div>
    <div>
        <label><b>Tipo Documento: </b> {{empleado.idTipodocumento}}</label>
    </div>
    <div>
        <label><b>Numero Documento: </b> {{empleado.numerodocumento}}</label>
    </div>
    <div>
        <label><b>Razon Social: </b> {{empleado.razonsocial}}</label>
    </div>
    <div>
        <label><b>Nombre: </b> {{empleado.nombre}}</label>
    </div>
    <div>
        <label><b>Apellido: </b> {{empleado.apellido}}</label>
    </div>
    <div>
        <label><b>Fecha Nacimiento: </b> {{empleado.fechanacimiento}}</label>
    </div>
    <div>
        <label><b>Genero: </b> {{empleado.genero}}</label>
    </div>
</div>